@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Exo+2&family=Martian+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dela+Gothic+One&family=Exo+2&family=Martian+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dela+Gothic+One&family=Exo+2&family=Martian+Mono:wght@300&family=Rowdies:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.header{
    position:fixed;
    height:8vh;
    width: 100vw;
    background-color: #0077b6;
    border: #00b4d8 8px;
    border-style:ridge;
}

.profile img{
    border-radius: 400px;
    border:#caf0f8 5px groove ;
    width: 3vw;
    margin-left: 5vw;
    margin-top: .5vh;
    margin-bottom: 10vh;
}


.header #pages{
    display: inline;
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Martian Mono', monospace;
}

.header #pages a{
    float:right;
    padding: 5px;
    margin-right: 3vw;
    margin-top: 2vh;
    color: #caf0f8;
    background-color: #00b4d8;
    text-decoration: dashed;
    border-radius: 30px;
    border-style:groove;
    font-size: 2vh;
}


.background img{
    width:100vw;
    height:90vh;
}

.text h1{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Martian Mono', monospace;
    
    position: absolute;
    top: 40vh;
    left: 37vw;
    transform: translate(-50%, -50%);
    color: #e5e5e5;
    font-size:4vh;
    float: left;
    text-shadow: 4px 4px 10px rgb(255, 255, 255);
}

.text span{
    color: #e85d04;
}

.text p{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Martian Mono', monospace;

    position: absolute;
    top: 50vh;
    left: 10vw;
    color: #ffd60a;
    font-size: 2vh;
}

.text a{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Martian Mono', monospace;
    font-family: 'Rowdies', cursive;

    color: #caf0f8;
    background-color: #003049;
    text-decoration: dashed;
    border-radius: 10px;
    border-style: groove;
    font-size: 4vh;


    position: absolute;
    top: 55vh;
    left: 10vw;
}



.socmed img{
    display: inline-block;
    width: 3vw;
    padding: 2px;
    float: right;
    margin-right: 1vw;
    margin-top: 2vh;
    
  }

.footer p{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Martian Mono', monospace;
    font-family: 'Rowdies', cursive;

    position: absolute;
    top: 3vh;
    left: 5vw;
    color: #caf0f8;
    font-size: 2vh;
}

.footer{
    position:fixed;
    height:10vh;
    width: 100vw;
    background-color: #001d3d;
    border: #00b4d8 8px;
    border-style:ridge;
    margin-bottom: -9px;
}

.socmed{
    margin-right: 3vw;
  }

