@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Exo+2&family=Martian+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dela+Gothic+One&family=Exo+2&family=Martian+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dela+Gothic+One&family=Exo+2&family=Martian+Mono:wght@300&family=Rowdies:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.header{
    position:fixed;
    height:8vh;
    width: 100vw;
    background-color: #0077b6;
    border: #00b4d8 8px;
    border-style:ridge;
}

.profile img{
    border-radius: 400px;
    border:#caf0f8 5px groove ;
    width: 3vw;
    margin-left: 5vw;
    margin-top: .5vh;
    margin-bottom: 10vh;
}


.header #pages{
    display: inline;
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Martian Mono', monospace;
}

.header #pages a{
    float:right;
    padding: 5px;
    margin-right: 3vw;
    margin-top: 2vh;
    color: #caf0f8;
    background-color: #00b4d8;
    text-decoration: dashed;
    border-radius: 30px;
    border-style:groove;
    font-size: 2vh;
}


.background img{
    width:100vw;
    height:90vh;
}
.main h1{
  font-family: 'Abril Fatface', cursive;
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Martian Mono', monospace;
    
    position: relative;
    top: 20vh;
    left: 15vw;
    transform: translate(-50%, -50%);
    color: #e5e5e5;
    font-size:100px;
    float: left;
    text-shadow: 4px 4px 10px rgb(255, 255, 255);
}


.footer{
  display: flex;
  flex-wrap: wrap; 
  gap: 5px; 
  top:45vw;
}

.photos{
  margin-left: 30vw;
  margin-top: -40vw;
}

.photos img{
  border-radius: 200px;
  border-style: groove ;
  width: 12vw;
  
}

.row img {
  flex: 1;
  padding: 20px;
  text-align: center;
  flex-direction: row;
}

.row2 img{
  flex: 1;
  padding: 20px;
  text-align: center;
  flex-direction: row;
}

.socmed img{
  display: inline-block;
  width: 3vw;
  padding: 2px;
  float: right;
  margin-right: 1vw;
  margin-top: 2vh;
  
}

.socmed{
  margin-left: 85vw;
}


.footer p{
  font-family: 'Abril Fatface', cursive;
  font-family: 'Dela Gothic One', cursive;
  font-family: 'Exo 2', sans-serif;
  font-family: 'Martian Mono', monospace;
  font-family: 'Rowdies', cursive;

  position: absolute;
  top: 3vh;
  left: 5vw;
  color: #caf0f8;
  font-size: 2vh;
  margin-bottom: 50vh;
}

.footer{
  position:fixed;
  height:10vh;
  width: 100vw;
  background-color: #001d3d;
  border: #00b4d8 8px;
  border-style:ridge;
  margin-bottom: -9px;
}


